.container {
  position: fixed;
}

.item {
  position: relative;
  background: linear-gradient(to top, #182237, #253352);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bgContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
}

.bg {
  object-fit: contain;
  opacity: 0.3;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.noti {
  font-weight: bold;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: var(--text);
}

.subtitle {
  font-weight: 200;
  font-size: 12px;
  color: var(--textSoft);
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #5d57c9;
  width: max-content;
  border-radius: 5px;
  border: none;
}
